<div class="window-sidebar">
  <h2 class="window-sidebar-title" disable-user-select>Directories</h2>
  <ng-container *ngFor="let folder of this.folders; let i = index">
    <div
      class="window-sidebar-item window-sidebar-item-active"
      id="{{ folder.toLowerCase() + '-sidebar' }}"
      *ngIf="folder == activeFolderName"
      (click)="changeFileList(folder)"
    >
      <img
        src="../../assets/img/folder-desktop.svg"
        *ngIf="folder == 'Desktop'"
        alt=""
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-apps.svg"
        *ngIf="folder == 'Applications'"
        alt=""
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-shared.svg"
        *ngIf="folder == 'Shared'"
        alt=""
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-docs.svg"
        *ngIf="folder == 'Documents'"
        alt=""
        class="window-sidebar-item-icon"
      />
      {{ folder }}
    </div>
    <div
      class="window-sidebar-item"
      id="{{ folder.toLowerCase() + '-sidebar' }}"
      *ngIf="folder != activeFolderName"
      (click)="changeFileList(folder)"
    >
      <img
        src="../../assets/img/folder-desktop.svg"
        *ngIf="folder == 'Desktop'"
        alt=""
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-apps.svg"
        *ngIf="folder == 'Applications'"
        alt=""
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-shared.svg"
        *ngIf="folder == 'Shared'"
        alt=""
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-docs.svg"
        *ngIf="folder == 'Documents'"
        alt=""
        class="window-sidebar-item-icon"
      />
      {{ folder }}
    </div>
  </ng-container>
</div>
<div class="window-navbar"></div>
<div class="window-body item-container">
  <app-file-list #container [showFolder]="showFolder"> </app-file-list>
</div>
<div class="finder-footer">
	<span class="finder-footer-item-count">4 items</span>
	<span class="finder-footer-seperator" style="display: inline;">|</span>
	<span class="finder-footer-selected-items-count" style="display: inline;">1 item selected</span>
</div>
