<div class="window-sidebar">
  <h2 class="window-sidebar-title" disable-user-select>Favourites</h2>
  <ng-container *ngFor="let folder of this.folders; let i = index">
    <div
      class="window-sidebar-item window-sidebar-item-active"
      id="{{ folder.data.dirName + '-sidebar' }}"
      *ngIf="folder.data.dirName == activeFolderName"
      (click)="changeFileList(folder.data.dirName)"
      >
      <img
        src="../../assets/img/folder-desktop.svg"
        *ngIf="folder.data.dirName == 'Desktop'"
        alt="desktop"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-apps.svg"
        *ngIf="folder.data.dirName == 'Apps'"
        alt="apps"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-shared.svg"
        *ngIf="folder.data.dirName == 'Shared'"
        alt="shared"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-docs.svg"
        *ngIf="folder.data.dirName == 'Docs'"
        alt="docs"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-trash.svg"
        *ngIf="folder.data.dirName == 'Trash'"
        alt="trash"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-trash.svg"
        *ngIf="folder.data.dirName == 'Desktop' && folder.data.dirName == 'Apps' && folder.data.dirName == 'Shared' && folder.data.dirName == 'Docs' && folder.data.dirName == 'Trash'"
        alt="folder"
        class="window-sidebar-item-icon"
      />
      {{ folder.data.dirName }}
    </div>
    <div
      class="window-sidebar-item"
      id="{{ folder.data.dirName + '-sidebar' }}"
      *ngIf="folder.data.dirName != activeFolderName"
      (click)="changeFileList(folder.data.dirName)"
    >
      <img
        src="../../assets/img/folder-desktop.svg"
        *ngIf="folder.data.dirName == 'Desktop'"
        alt="desktop"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-apps.svg"
        *ngIf="folder.data.dirName == 'Apps'"
        alt="apps"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-shared.svg"
        *ngIf="folder.data.dirName == 'Shared'"
        alt="shared"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-docs.svg"
        *ngIf="folder.data.dirName == 'Docs'"
        alt="docs"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-trash.svg"
        *ngIf="folder.data.dirName == 'Trash'"
        alt="trash"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder.svg"
        *ngIf="folder.data.dirName != 'Apps' && folder.data.dirName != 'Desktop' && folder.data.dirName != 'Shared' && folder.data.dirName != 'Docs' && folder.data.dirName != 'Trash'"
        alt="folder"
        class="window-sidebar-item-icon"
      />
      {{ folder.data.dirName }}
    </div>
  </ng-container>
</div>
<div class="window-navbar"></div>
<div class="window-body">
  <app-finder-file-list
    #container 
    [showFolderPath]="showFolderPath"
    [showFolderId]="showFolderId"
    >
  </app-finder-file-list>
</div>
<div class="finder-footer">
	<span class="finder-footer-item-count">4 items</span>
	<span class="finder-footer-seperator" style="display: inline;">|</span>
	<span class="finder-footer-selected-items-count" style="display: inline;">1 item selected</span>
</div>
