.window-navbar-breadcrumbs-item
    display: inline-block
    color: #4d4949
    cursor: pointer
    font-family: 'Roboto', sans-serif
    font-size: 12px
    background-color: rgba(231, 238, 245, 0.95)
    margin-top: 8px
    margin-left: 2px
    &:hover
        text-decoration: underline
        color: #4d4949
        opacity: 0.8
    &:last-child        
        cursor: default
        &:hover
        text-decoration: none        
        opacity: 1