<div class="window-sidebar">
  <h2 class="window-sidebar-title" disable-user-select>Favourites</h2>
  <ng-container *ngFor="let folder of this.folders; let i = index">
    <div
      class="window-sidebar-item window-sidebar-item-active"
      id="{{ folder.data.dirName + '-sidebar' }}"
      [attr.dataId]="folder.data.id"
      [attr.dataName]="folder.data.dirName"
      *ngIf="folder.data.dirName == activeFolderName"
      (click)="setActiveFolder(folder.data.dirName, folder.data.id)"
      >
      <img
        src="../../assets/img/folder-desktop.svg"
        *ngIf="folder.data.dirName == 'Desktop'"
        alt="desktop"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-apps.svg"
        *ngIf="folder.data.dirName == 'Apps'"
        alt="apps"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-shared.svg"
        *ngIf="folder.data.dirName == 'Shared'"
        alt="shared"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-docs.svg"
        *ngIf="folder.data.dirName == 'Docs'"
        alt="docs"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-trash.svg"
        *ngIf="folder.data.dirName == 'Trash'"
        alt="trash"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-trash.svg"
        *ngIf="folder.data.dirName == 'Desktop' && folder.data.dirName == 'Apps' && folder.data.dirName == 'Shared' && folder.data.dirName == 'Docs' && folder.data.dirName == 'Trash'"
        alt="folder"
        class="window-sidebar-item-icon"
      />
      {{ folder.data.dirName }}
    </div>
    <div
      class="window-sidebar-item"
      id="{{ folder.data.dirName + '-sidebar' }}"
      *ngIf="folder.data.dirName != activeFolderName"
      (click)="setActiveFolder(folder.data.dirName, folder.data.id)"
    >
      <img
        src="../../assets/img/folder-desktop.svg"
        *ngIf="folder.data.dirName == 'Desktop'"
        alt="desktop"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-apps.svg"
        *ngIf="folder.data.dirName == 'Apps'"
        alt="apps"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-shared.svg"
        *ngIf="folder.data.dirName == 'Shared'"
        alt="shared"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-docs.svg"
        *ngIf="folder.data.dirName == 'Docs'"
        alt="docs"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder-trash.svg"
        *ngIf="folder.data.dirName == 'Trash'"
        alt="trash"
        class="window-sidebar-item-icon"
      />
      <img
        src="../../assets/img/folder.svg"
        *ngIf="folder.data.dirName != 'Apps' && folder.data.dirName != 'Desktop' && folder.data.dirName != 'Shared' && folder.data.dirName != 'Docs' && folder.data.dirName != 'Trash'"
        alt="folder"
        class="window-sidebar-item-icon"
      />
      {{ folder.data.dirName }}
    </div>
  </ng-container>
</div>


<div class="window-navbar">
  <div class="window-navbar-breadcrumbs">
    <ng-container *ngFor="let breadcrumb of this.breadcrumbs; let i = index">
      <a
        class="window-navbar-breadcrumbs-item"
        id="{{ breadcrumb.dirName + '-breadcrumb' }}"
        [attr.dataId]="breadcrumb.id"
        [attr.dataName]="breadcrumb.name"
        (click)="setActiveFolder(breadcrumb.name, breadcrumb.id)">
        {{ breadcrumb.name }}
      </a>
      <span class="window-navbar-breadcrumbs-seperator" style="display: inline;">/</span>
    </ng-container>    
  </div>
</div>

<div class="window-body">
  <app-finder-file-list #container></app-finder-file-list>
</div>
<div class="finder-footer">
	<span class="finder-footer-item-count">{{items}} items</span>
	<span class="finder-footer-seperator" style="display: inline;">|</span>
	<span class="finder-footer-selected-items-count" style="display: inline;">{{selectedItems}} selected</span>
</div>
