<div class="register-container">
	<form class="register-form" #addForm="ngForm" (ngSubmit)="registerUser(addForm)">
		<div class="form-head">
			<img class="form-head-icon" src="../../../../assets/img/btn-space-ship.svg" alt="space-ship-icon"/>
		</div>
		<label class="form-label" for="name">User Name</label>
		<div class="form-group">
		   <input 	type="text" ngModel name="userName" class="form-control" id="userName" 
		   			placeholder="username">
		</div>
		<label class="form-label" for="name">Email</label>
		<div class="form-group">
			<input 	type="email" ngModel name="email" class="form-control" id="email" 
						placeholder="email">
		 </div>
		 <label class="form-label" for="password">Password</label>
		<div class="form-group">
			<input type="password" ngModel name="password" class="form-control" id="password" placeholder="password" required>
		 </div>
		   <button [disabled]="addForm.invalid" type="submit" class="btn-register-primary" >
				Register
		   </button>
		</form>
</div>
