<!-- this is for preloading with loading service and http interceptor 
	<div *ngIf="!this.loader.getLoading()" class="loading-container">
-->
<!--
<ul>
    <li *ngFor="let event of events">{{ event }}</li>
</ul>
-->
<!--it's only for first preloading -->
<div *ngIf="this.isProgressBar" class="loading-container">
  <div id="progressbar-container">
    <input type="checkbox" id="progressbar-water" />
    <label id="progressbar-label" for="progressbar-water">
      <div id="fill-water"></div>
    </label>
    <span>Progress</span>
    <span id="progress">0%</span>
    <div class="preloading-text">
		<span id="preloading-text">
			Connection...
		</span>
	</div>
  </div>
</div>
