<li data-action="0"
  	data-menu-id="0"
  	data-parent-element-id="0"
  	class="context-menu-item-submenu context-menu-item">
  	<span class="context-menu-item-icon"></span>
  	<span class="context-menu-item-icon-active"></span>
  	Sort by
  	<img class="submenu-arrow" src="../../assets/img/chevron-right.svg" />
</li>
<li class="context-menu-divider">
	<hr/>
</li>
<li data-action="1" class="context-menu-item">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	New Folder
</li>
<li data-action="2" class="context-menu-item">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	New File
</li>
<li class="context-menu-divider">
	<hr />
</li>
<li data-action="3" 
	UploadingFile 
	class="context-menu-item">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	Uploading File
</li>
<li data-action="4" class="context-menu-item">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	Copy
</li>
<li
	data-action="5"
	class="context-menu-item context-menu-item-disabled context-menu-item-active">
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Paste
</li>