<li *ngIf="isFolderSpace"
	data-action="0"
  	data-menu-id="0"
  	data-parent-element-id="0"
  	class="context-menu-item-submenu context-menu-item">
  	<span class="context-menu-item-icon"></span>
  	<span class="context-menu-item-icon-active"></span>
  	Sort by
  	<img class="submenu-arrow"
		[src]="togleSubMenu ? '../../assets/img/chevron-down.svg' : '../../assets/img/chevron-right.svg'"
		/>
</li>
<li *ngIf="isItem"
	data-action="0"
  	data-menu-id="0"
  	data-parent-element-id="0"
  	class="context-menu-item-submenu context-menu-item context-menu-item-icon-disabled">
  	<span class="context-menu-item-icon"></span>
  	<span class="context-menu-item-icon-active"></span>
  	Sort by
  	<img class="submenu-arrow" src="../../assets/img/chevron-right.svg" />
</li>

<li class="context-menu-divider">	
	<hr/>
</li>


<li *ngIf="isFolderSpace"
	data-action="1" class="context-menu-item"
	AddNewFolder
	>
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	New Folder
</li>
<li *ngIf="isItem"
	data-action="1" class="context-menu-item context-menu-item-disabled"
	AddNewFolder
	>
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	New Folder
</li>


<li *ngIf="isFolderSpace"
	data-action="2" class="context-menu-item"
	AddNewFile
	>
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	New File
</li>
<li *ngIf="isItem"
	data-action="2" class="context-menu-item context-menu-item-disabled"
	>
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	New File
</li>


<li class="context-menu-divider">
	<hr />
</li>

<li data-action="3" 
	*ngIf="isFolderSpace"
	UploadingFile 
	class="context-menu-item">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	Uploading File
</li>
<li data-action="3" 
	*ngIf="isItem"
	class="context-menu-item context-menu-item-disabled">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	Uploading File
</li>


<li *ngIf="isFolderSpace" data-action="4" class="context-menu-item context-menu-item-disabled">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	Copy
</li>
<li *ngIf="isItem" data-action="4" class="context-menu-item">
	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
	Copy
</li>

<li *ngIf="isFolderSpace"
	data-action="5"
	class="context-menu-item context-menu-item-disabled">
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Paste
</li>
<li *ngIf="isItem"
	data-action="5"
	class="context-menu-item">
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Paste
</li>


<li *ngIf="isItem"
	data-action="5"
	class="context-menu-item"
	DeleteItem
	>
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Delete
</li>
<li *ngIf="isFolderSpace"
	data-action="5"
	class="context-menu-item context-menu-item-disabled"
	>
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Delete
</li>


<li
	*ngIf="isFolderSpace"
	data-action="7"
	class="context-menu-item context-menu-item-disabled">
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Get Info
</li>
<li
	*ngIf="isItem"
	data-action="7"
	class="context-menu-item">
  	<span class="context-menu-item-icon"></span>
	<span class="context-menu-item-icon-active"></span>
  	Get Info
</li>