<!--start moving and make active window-->
<div
(click)="open()">
  <span class="window-action-btn">
    <img (click)="close();$event.stopPropagation()" src="../../assets/img/btn-close.svg" alt="btn-close-icon" />
  </span>
  <span class="window-action-btn" style="left: 20px">
    <img (click)="minimize();$event.stopPropagation()" src="../../assets/img/btn-minimize.svg" alt="btn-minimize-icon" />
  </span>
  <span class="window-action-btn" style="left: 40px">
    <img (click)="maximize();$event.stopPropagation()" src="../../assets/img/btn-open.svg" alt="btn-maximize-icon" />
  </span>
  <div class="window-head" 
  	(mousedown)="startMove($event, 2)">
    <div class="window-head-draggable">
      <img
        *ngIf="id == 'explorer'"
        src="../../assets/img/folder-home.svg"
        alt="folder-home-icon"
        class="window-head-icon"
      />
      <span class="window-head-title">{{ id }} </span>
    </div>
  </div>
  <ng-content></ng-content>
  <img
  	(mousedown)="startMove($event, 1)" 
    class="ui-resizable-se"
    src="../../assets/img/app-resize-right.svg"
    alt="app-resize-icon"
  />
</div>
