<div class="taskbar" style="height: 50px">
  <div
    (click)="openMod($event, 'finder', 'Finder')"
    class="taskbar-item disable-user-select"
    id="taskbar-item-2"
    data-taskbar-item-id="2"
    data-name="Finder"
    data-app="finder"
    data-keep-in-taskbar="true"
    data-open-windows="0"
    title="Finder"
  >
    <div class="taskbar-icon">
      <img src="./../../assets/img/folders.svg" />
    </div>
    <span class="active-taskbar-indicator"></span>
  </div>

  <div
    (click)="openMod($event, 'editor', 'Editor')"
    class="taskbar-item disable-user-select"
    id="taskbar-item-2"
    data-taskbar-item-id="2"
    data-name="Editor"
    data-app="editor"
    data-keep-in-taskbar="true"
    data-open-windows="0"
    title="Editor"
  >
    <div class="taskbar-icon">
      <img src="./../../assets/img/app-editor.svg" />
    </div>
    <span class="active-taskbar-indicator"></span>
  </div>

  <div
    (click)="openMod($event, 'draw', 'Draw')"
    class="taskbar-item disable-user-select"
    id="taskbar-item-4"
    data-taskbar-item-id="4"
    data-name="Draw"
    data-app="draw"
    data-keep-in-taskbar="true"
    data-open-windows="0"
    title="Draw"
  >
    <div class="taskbar-icon">
      <img src="./../../assets/img/app-draw.svg" />
    </div>
    <span class="active-taskbar-indicator"></span>
  </div>

  <div
    (click)="openMod($event, 'terminal', 'Terminal')"
    class="taskbar-item disable-user-select"
    id="taskbar-item-5"
    data-taskbar-item-id="5"
    data-name="Terminal"
    data-app="terminal"
    data-keep-in-taskbar="true"
    data-open-windows="0"
    title="Terminal"
  >
    <div class="taskbar-icon">
      <img src="./../../assets/img/app-terminal.svg" />
    </div>
    <span class="active-taskbar-indicator"></span>
  </div>

  <div
    (click)="openMod($event, 'camera', 'Camera')"
    class="taskbar-item disable-user-select"
    id="taskbar-item-6"
    data-taskbar-item-id="6"
    data-name="Camera"
    data-app="camera"
    data-keep-in-taskbar="true"
    data-open-windows="0"
    title="Camera"
  >
    <div class="taskbar-icon">
      <img src="./../../assets/img/app-camera.svg" />
    </div>
    <span class="active-taskbar-indicator"></span>
  </div>

  <div
    (click)="openMod($event, 'settings', 'Settings')"
    class="taskbar-item disable-user-select"
    id="taskbar-item-7"
    data-taskbar-item-id="7"
    data-name="Settings"
    data-app="settings"
    data-keep-in-taskbar="true"
    data-open-windows="0"
    title="Settings"
  >
    <div class="taskbar-icon">
      <img src="./../../assets/img/app-settings.svg" />
    </div>
    <span class="active-taskbar-indicator"></span>
  </div>
</div>
