.window-body-editor
	width: 100%
	height: calc(100% - 30px)
	background-color: #fff
	overflow: auto

.editor-container
	position: relative
	width: 600px
ngx-editor	
	position: absolute

ngx-editor-menu
	overflow: hidden

.NgxEditor
	overflow-y: scroll

