<!--
<nav>
  <ul>
	<li><a routerLink="/desktop-component" routerLinkActive="active" ariaCurrentWhenActive="page">Web Desktop</a></li>
  </ul>
</nav>
-->
<!-- The routed views render in the <router-outlet>-->
<div class="screen"
[style.background-image]="'url(./../../assets/img/background-gary-scott-space-unsplash.jpg)'"
[style.background-size]="'contain'">
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <router-outlet></router-outlet>
</div>
