.notification-container
	position: absolute
	z-index: 1500
	width: 150px
	right: 0
	bottom: 50px

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.message-box
	line-height: inherit
	margin: 5px 10px
	padding: 5px
	box-shadow: 2px 2px 5px black

.success
	background: rgb(232,208,219)
	background: linear-gradient(90deg, rgba(232,208,219,1) 17%, rgba(148,187,233,1) 62%)
	color: white
	font-family: 'Trebuchet MS', Arial, sans-serif
	font-size: 13px
	border-radius: 5px
	padding-left: 40px

.warning
	background: rgb(232,208,219)
	background: linear-gradient(90deg, rgba(232,208,219,1) 17%, rgba(148,187,233,1) 62%)
	color: white
	font-family: 'Trebuchet MS', Arial, sans-serif
	font-size: 13px
	border-radius: 5px
	padding-left: 40px

.error
	background: rgb(232,208,219)
	background: linear-gradient(90deg, rgba(232,208,219,1) 17%, rgba(148,187,233,1) 62%)
	color: white
	font-family: 'Trebuchet MS', Arial, sans-serif
	font-size: 13px
	border-radius: 5px
	padding-left: 40px