.notification-container
	position: absolute
	z-index: 1500
	width: 150px
	right: 0
	bottom: 50px

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.message-box
	line-height: inherit
	margin: 5px 10px
	padding: 5px
	box-shadow: 2px 2px 5px black

.success
	background: linear-gradient(90deg, #a7a2a4 17%, #9caec3 62%)
	color: skyblue
	font-family: 'Trebuchet MS', Arial, sans-serif
	font-size: 12px
	font-smooth: always
	border-radius: 3px
	border: 1px solid #8a8484
	padding-left: 40px

.warning	
	background: linear-gradient(90deg, rgba(232,208,219,1) 17%, #edd67a 62%)
	color: orange
	font-family: 'Trebuchet MS', Arial, sans-serif
	font-size: 12px
	border-radius: 3px
	border: 1px solid #8a8484
	padding-left: 40px

.error
	background: linear-gradient(90deg, rgba(232,208,219,1) 17%, #f49fb3 62%)
	color: red
	font-family: 'Trebuchet MS', Arial, sans-serif
	font-size: 12px
	border-radius: 3px
	border: 1px solid #8a8484
	padding-left: 40px