<!--action's buttons-->
<span class="window-action-btn">
	<img
	  (click)="closeModal('terminal')"
	  src="../../assets/img/btn-close.svg"
	  alt=""
	/>
  </span>
  <span class="window-action-btn" style="left: 20px">
	<img src="../../assets/img/btn-minimize.svg" alt="" />
  </span>
  <span class="window-action-btn" style="left: 40px">
	<img src="../../assets/img/btn-open.svg" alt="" />
  </span>
  <div class="window-head">
	<div class="window-head-draggable">
	  <span class="window-head-title">Terminal</span>
	</div>
  </div>
  <div class="window-navbar"></div>
  <div class="window-body item-container"></div>
  