<!-- desktop version-->
<div class="desktop"
     Themes
    (contextmenu)="openContext($event, 'desktop-context-menu', 'Desktop Context Menu')">

  <!--file-list-->
  <app-desktop-file-list #container></app-desktop-file-list>

  <!--top right region-->
  <div class="user-options-wrapper">
	<!--clock-->
	<div app-clock></div>
	
	<a target="_blank" href="https://github.com/meugenom/neetcloud.dev">
      <img
        src="./../../assets/img/github.svg"
        style="
          width: 30px;
          margin-bottom: -10px;
          display: inline-block;
          margin-left: 10px;
          filter: drop-shadow(0px 0px 1px rgb(51, 51, 51));"/>
	</a>

	<!--mobile button TODO:feature-->
	<!--
    <button
      class="fullscreen-btn button button-small"
      title="Enter Mobile View"
      (click)="getMobileView()"
    >
      <img class="fullScreenOut" src="./../../assets/img/btn-mobile.svg"/>
    </button>
	-->
	<!--fullscreen button-->
    <button
      FullScreenOpening
      class="fullscreen-btn button button-small"
      title="Enter Full Screen"
      (click)="getFullScreen()"
    >
      <img class="fullScreenOut" src="./../../assets/img/fullscreen.svg" *ngIf="!fullScreen" />
      <img class="fullScreenIn" src="./../../assets/img/screen.svg" *ngIf="fullScreen" />
    </button>
    <!--user information button-->
    <button
      class="user-options-menu-btn button button-small"
	    title="User Info"
      (click)="openWidgetsPanel()">
      <img src="./../../assets/img/user.svg" />
      <span class="user-options-menu-username"> 
		{{email}}
	  </span>
    </button>
  </div>

  <!--notify-->
  <app-notification></app-notification>
  
  <!--uploading component-->
  <app-uploading></app-uploading>

  <!--taskbar component-->
  <app-taskbar></app-taskbar>
  
  <!--widget panel-->
  <app-widget-panel></app-widget-panel>
</div>
