//values
$container_background: #dbe9ff
$div_element_background:  #aaccff
$div_element_selected_background: #5f9efc
$selection_area_background: #4f90f22d
$selection_area_border_color: #4f90f2 


html,
body 
	width: 100% 
	height: 100% 
	display: flex 
	align-items: center 
	justify-content: center 

.container 
	padding: 0.3rem 
	display: grid
	grid-gap: 0.5rem 
	grid-template-columns: repeat(20, 1fr) 
	//flex-wrap: wrap 
	width: 98vmax
	height: 98vmax
	//background: $container_background
	border-radius: 0.3rem 
	user-select: none
	z-index: 0
	& > div 
		//background: $div_element_background
		border-style: dashed
		border-radius: 0.25rem
		z-index: 1
		&.selected 
			//background: $div_element_selected_background
.selection-area 
	//background: $selection_area_background 
	border: 1px solid $selection_area_border_color

app-explorer
	position: absolute
	width: calc(100%)
	height: calc(100% - 30px)

app-editor, app-terminal, app-settings, app-draw, app-camera
	position: absolute
	width: calc(100%)
	height: calc(100% + 50px)